<div class="header">
  <a href="" class="logo">Schul-App</a>
  <a routerLink="/room" routerLinkActive="active" class="site">Klassenraum</a>
  <a routerLink="/student" routerLinkActive="active" class="site">Schüler</a>
  <a routerLink="/timetable" routerLinkActive="active" class="site">Stundenplan</a>
  <a routerLink="/teacher" routerLinkActive="active" class="site">Lehrer</a>
  <a routerLink="/login" routerLinkActive="active" class="site">Login</a>
</div>

<div class="body">
  <router-outlet></router-outlet>
</div>
<div class="footer">

</div>
